# Created by https://www.gitignore.io

#!! ERROR: jav is undefined. Use list command to see defined gitignore types !!#

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/PECL2/Analizador/nbproject/private/
/PECL2/Analizador/build/

UpdComp.lex.java
parser.java
sym.java
/PECL3/Analizador/build/
/PECL3/Semantico/nbproject/private/
/PECL3/Semantico/build/